.dashboard-container {
    width: 70%;
    height: 100%;
    max-height: 100%;
    background-color: var(--color-foreground);
    box-shadow: var(--default-box-shadow);
    border-radius: 0.3rem;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.dashboard-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.dashboard-workdays-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.dashboard-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.dashboard-workdays-interval {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-workdays-item {
    height: 100%;
    flex-basis: 100%;
}

.dashboard-workdays-add,
.dashboard-submit {
    font-weight: bold !important;
    text-transform: none !important;
}

.dashboard-intervals-table-container {
    flex-grow: 1;
    overflow-y: overlay;
}

.dashboard-intervals-table {
    width: 100%;
    height: 100%;
}

.dashboard-table-header-cell {
    font-weight: bold !important;
}

.dashboard-submit-loading {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
