:root {
    --color-background: #FAFBFC;
    --color-foreground: #FFFFFF;
    --color-text: #5e6c84;
    --default-box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--color-text);
    background-color: var(--color-background);

    font-family: "Roboto";
}

body > #root {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
