.emailNotifications-container {
    border-radius: 0.3rem;
    background-color: var(--color-foreground);
    box-sizing: border-box;
    box-shadow: var(--default-box-shadow);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

.emailNotifications-container {
    grid-area: 1 / 2 / 2 / 3;
}

.emailNotifications-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.emailNotifications-changeEmail-container {
    display: flex;
    gap: 1rem;
}

.emailNotifications-textfield {
    flex-basis: 60%;
}

.emailNotifications-button-changeEmail {
    flex-basis: 40%;
    text-transform: none !important;
    font-weight: bold !important;
}

.emailNotifications-button {
    height: 3rem;
    text-transform: none !important;
    font-weight: bold !important;
}
